{% extends 'base.html' %}

{% block title %}모든 습관 보기{% endblock %}

{% block content %}

<div class="card-container">
{% for habit in object_list %}
<a href="{{ habit.url }}">
  <div class="card">
    <div class="card-title">{{ habit.title }}</div>
    <div class="card-contents">
      <div class="habit-remaining-time">이번 기간은 {{ habit.session_remaining }} 남았어요</div>
      <div class="habit-count">전체의 {{ habit.session_log_count}}/{{ habit.count }}만큼 진행했어요</div>
    </div>
  </div>
</a>
{% endfor %}
</div>

<a href="{% url 'habit:habitcreate' %}" class="btn-add">+</a>

{% endblock %}
