{% extends 'base.html' %}

{% block title %}모든 습관 보기{% endblock %}

{% block content %}

<div class="card-container">
  {% for habit in object_list %}
    <a href="{% url 'habit:habitdetail' habit.pk %}">
      <div class="card">
        <div class="card-title">{{ habit.title }}</div>
        <div class="card-contents">
          {% load humanize %}
          <div>이번 기간은 {{ habit.curr_remaining | humanizeTimedelta }} 남았어요</div>
          <div>목표 횟수 {{ habit.count }}번 중에 {{ habit.curr_count }}번 반복하셨어요!</div>
        </div>
      </div>
    </a>
  {% endfor %}
</div>

<a href="{% url 'habit:habitcreate' %}" class="btn-add">+</a>

{% endblock %}
