{% extends 'base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<div class="card-container">
  <div class="card shadow">
    <div class="card-title">{{ object.name }}</div>
    <div class="card-contents">
      {% load humanize %}
      <div>이번 기간은 {{ object.curr_remaining | humanizeTimedelta }} 남았어요</div>
      <div>목표 횟수 {{ object.count }}번 중에 {{ object.curr_count }}번 반복하셨어요!</div>
    </div>
    <div class="card-contents">
      <div>{{ object.description }}</div>
    </div>
  </div>

  {% for log in object.logs %}
    <a href="{% url 'habit:logdetail' habit.pk log.pk %}">
      <div class="card shadow">
        <div class="card-title">{{ log.created }}</div>
        <div class="card-contents">{{ log.memo }}</div>
      </div>
    </a>
  {% endfor %}
</div>

<a href="{% url 'habit:logcreate' object.pk %}" class="btn btn-create shadow">+</a>
<a href="{% url 'habit:habitdelete' object.pk %}" class="btn btn-delete shadow">-</a>

{% endblock %}
