@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

* {
  font-family: "Noto Sans KR", sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.card {
  border-radius: 0.5rem;
  box-shadow: rgba(0,0,0,0.3) 0 0 0.5rem;
  display: flex-container;
  margin: 0 0 1rem 0;
}

.card-container a:last-of-type .card {
  margin-bottom: 0;
}

.card-title {
  background: linear-gradient(to right, #A240FC 0%, #D168FF 100%);
  border-radius: 0.5rem 0.5rem 0 0;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  overflow: hidden;
  padding: 1rem;
}

.card-contents {
  padding: 2rem 1rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer .btn-add {
  width: 3rem;
  height: 3rem;
  color: white;
  font-size: 3rem;
  line-height: 2.75rem;
  margin-right: 5px;
  border-radius: 25px;
  background-color: #D168FF;
  box-shadow: 0 0 10px #616161;
}
